{:deps {:aliases [:dev]}

 :nrepl {:middleware [refactor-nrepl.middleware/wrap-refactor]}

 :builds
 {:frontend {:target :browser
             :output-dir "resources/public/js"
             :asset-path "/js"
             :modules {:app {:init-fn chicken-master.core/init}}
             :devtools {:repl-pprint true
                        :after-load chicken-master.core/init
                        :http-root "resources/public"
                        :http-port 8280}}

  :test     {:target    :browser-test
             :test-dir  "resources/public/js/test"
             :ns-regexp "-test$"
             :devtools  {:http-port 8021
                         :http-root "resources/public/js/test"}}

  :ci       {:target :karma
             :test-dir  "resources/public/js/test"
             :output-to  "target/ci.js"
             :ns-regexp  "-test$"}}}
