backend/.cpcache/
backend/.nrepl-port
backend/chicken-master.jar

frontend/.cpcache/
/frontend/out/
/frontend/resources/public/js
/frontend/resources/public/css
/frontend/target/
/*-init.clj
/*.log

# Node.js dependencies
/frontend/node_modules/

# shadow-cljs cache, port files
/frontend/.shadow-cljs/

settings