[Unit]
Description=Chicken master
After=postgresql.service

[Service]
ExecStart=/usr/bin/java -Dconfig="/srv/chickens/config.edn" -jar /srv/chickens/chicken-master.jar
Type=simple
Restart=always
RestartSec=1
User=root

[Install]
WantedBy=multi-user.target
