{:up ["INSERT INTO recurrence_exceptions (order_id, order_date, status)
       SELECT id AS order_id, order_date, status FROM orders
       WHERE status != 'waiting'
       ON conflict do nothing"
      "ALTER TABLE orders DROP COLUMN status"]
 :down ["ALTER TABLE orders ADD status order_state DEFAULT 'waiting'"
        "UPDATE orders SET status = ex.status
         FROM recurrence_exceptions  AS ex
         WHERE orders.id = ex.order_id AND orders.order_date = ex.order_date"]}
;
